In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("netflix_titles.csv")

In [6]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4630,s4631,Movie,Quincy,"Rashida Jones, Alan Hicks",Quincy Jones,United States,"September 21, 2018",2018,TV-MA,124 min,"Documentaries, Music & Musicals",This documentary profiles music and culture ic...
6080,s6081,Movie,Abominable Christmas,Chad Van De Keere,"Isabella Acres, Drake Bell, Emilio Estevez, No...",United States,"February 18, 2016",2012,TV-Y7,44 min,"Children & Family Movies, Comedies",Two small abominable snowmen flee their mounta...
4699,s4700,Movie,Yoo Byung Jae: Discomfort Zone,Y. Joon Chung,Yoo Byung Jae,South Korea,"August 17, 2018",2018,TV-MA,54 min,Stand-Up Comedy,Daring comedian Yoo Byung-jae connects critici...
8266,s8267,Movie,The Dark Crystal,"Frank Oz, Jim Henson","Jim Henson, Kathryn Mullen, Frank Oz, Dave Goe...","United States, United Kingdom","May 1, 2019",1982,PG,93 min,Children & Family Movies,"In this mythical tale, Jen, the last of the Ge..."
3708,s3709,TV Show,Paquita Salas,NaN,"Brays Efe, Belén Cuesta, Lidia San José, Álex ...",Spain,"June 28, 2019",2018,TV-MA,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","One of Spain's best talent agents in the '90s,..."

In [7]:
df.drop(["show_id","description"],axis=1,inplace = True)

In [8]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
3500,Movie,Between Two Ferns: The Movie,Scott Aukerman,"Zach Galifianakis, Lauren Lapkus, Ryan Gaul, J...",United States,"September 20, 2019",2019,TV-MA,83 min,Comedies
1031,Movie,Into the Beat,Stefan Westerwelle,"Alexandra Pfeifer, Yalany Marschner, Trystan P...",Germany,"April 16, 2021",2020,TV-14,102 min,"Dramas, International Movies, Romantic Movies"
3940,TV Show,Quicksand,NaN,"Hanna Ardéhn, Felix Sandman, William Spetz, El...",Sweden,"April 5, 2019",2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas"
3395,Movie,ChuChuTV Bedtime Stories & Moral Stories for K...,NaN,NaN,NaN,"October 18, 2019",2019,TV-Y,56 min,Children & Family Movies
5615,Movie,Imperial Dreams,Malik Vitthal,"John Boyega, Rotimi, Glenn Plummer, De'Aundre ...",United States,"February 3, 2017",2014,TV-MA,86 min,Dramas

In [9]:
df.shape

(8807, 10)

In [10]:
df.size

88070

In [11]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [12]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [14]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [15]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [16]:
mode_country=df["country"].mode()[0]

In [17]:
mode_country

'United States'

In [18]:
df["country"]=df["country"].fillna(mode_country)

In [19]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [21]:
mode_date=df["date_added"].mode()[0]

In [22]:
mode_date

'January 1, 2020'

In [23]:
df["date_added"]=df["date_added"].fillna(mode_date)

In [24]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [25]:
mode_rating=df["rating"].mode()[0]

In [26]:
df["rating"]=df["rating"].fillna(mode_rating)

In [27]:
mode_duration=df["duration"].mode()[0]

In [28]:
df["duration"]=df["duration"].fillna(mode_duration)

In [29]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
dtype: int64

In [30]:
df["director"]=df["director"].fillna("Not mentioned")

In [31]:
df["cast"]=df["cast"].fillna("Not mentioned")

In [33]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [38]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [35]:
df=df[-df["rating"].str.contains("min")]

In [37]:
df.shape

(8804, 10)

In [39]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      shape=(1766,), dtype=object)

In [40]:
df["date_added"]=df["date_added"].str.replace(",","")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\2649166716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"]=df["date_added"].str.replace(",","")

In [41]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'],
      shape=(1766,), dtype=object)

In [42]:
df["date_added"]=pd.to_datetime(df["date_added"],format="mixed")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\3070659510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"]=pd.to_datetime(df["date_added"],format="mixed")

In [43]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [44]:
df["year"]=df["date_added"].dt.year

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\1025263937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"]=df["date_added"].dt.year

In [45]:
df["month"]=df["date_added"].dt.month

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\211772853.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"]=df["date_added"].dt.month

In [46]:
df["day"]=df["date_added"].dt.day

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\1983729496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["day"]=df["date_added"].dt.day

In [47]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
3293,TV Show,Little Things,Not mentioned,"Dhruv Sehgal, Mithila Palkar",India,2019-11-09,2019,TV-MA,3 Seasons,"International TV Shows, Romantic TV Shows, TV ...",2019,11,9
6530,Movie,Contract,Ram Gopal Varma,"Adhvik Mahajan, Prasad Purandhare, Sakshi Gula...",India,2019-03-02,2008,TV-14,116 min,"Action & Adventure, Dramas, Independent Movies",2019,3,2
342,Movie,Major Payne,Nick Castle,"Damon Wayans, Karyn Parsons, William Hickey, M...",United States,2021-08-01,1995,PG-13,97 min,Comedies,2021,8,1
3214,Movie,Payday,Cheta Chukwu,"Baaj Adebule, Ebiye Victor, Meg Otanwa, Bisola...",Nigeria,2019-11-29,2018,TV-MA,110 min,"Comedies, Independent Movies, International Mo...",2019,11,29
4736,Movie,Thank You,Anees Bazmee,"Akshay Kumar, Bobby Deol, Sonam Kapoor, Irrfan...",India,2018-08-02,2011,TV-14,131 min,"Comedies, International Movies, Romantic Movies",2018,8,2

In [48]:
df["genre"]=df["listed_in"].str.split(",").str[0]

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17988\1967608466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genre"]=df["listed_in"].str.split(",").str[0]

In [49]:
df["genre"].sample(5)

2815                    Comedies
3909    Children & Family Movies
1693                Anime Series
2567                    Comedies
2263        International Movies
Name: genre, dtype: object

In [50]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [55]:
df=df[df["cast"]!="Not mentioned"]

In [56]:
df["lead_actor"]=df["cast"].str.split(",").str[0]

In [57]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
Amitabh Bachchan      20
David Attenborough    20
Adam Sandler          20
Name: count, dtype: int64

In [58]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
6190,Movie,Asura: The City of Madness,Sung-soo Kim,"Jung-min Hwang, Do-won Kwak, Man-sik Jung, Woo...",South Korea,2018-02-15,2016,NR,133 min,"Action & Adventure, Dramas, International Movies",2018,2,15,Action & Adventure,Jung-min Hwang
6878,Movie,"Good Night, and Good Luck",George Clooney,"David Strathairn, Patricia Clarkson, George Cl...","United States, France, United Kingdom, Japan",2019-06-02,2005,PG,93 min,Dramas,2019,6,2,Dramas,David Strathairn
6914,Movie,Hamza's Suitcase,Akram Farouk,"Hamada Helal, Yousra El Lozy, Ahmed Fathy, Moh...",Egypt,2019-05-02,2017,TV-14,79 min,"Comedies, International Movies",2019,5,2,Comedies,Hamada Helal
6444,Movie,Chaotic Love Poems,Garin Nugroho,"Chicco Jerikho, Pevita Pearce",Indonesia,2019-01-05,2016,TV-14,86 min,"Dramas, International Movies, Romantic Movies",2019,1,5,Dramas,Chicco Jerikho
1309,Movie,"My Teacher, My Obsession",Damián Romay,"Lucy Loken, Laura Bilgeri, Rusty Joiner, Alexa...",United States,2021-02-15,2018,TV-14,86 min,Thrillers,2021,2,15,Thrillers,Lucy Loken

In [59]:
df.drop(["date_added","listed_in","cast"],axis=1,inplace=True)

In [60]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
2925,Movie,To All the Boys: P.S. I Still Love You,Michael Fimognari,United States,2020,TV-14,102 min,2020,2,12,Comedies,Lana Condor
25,TV Show,Love on the Spectrum,Not mentioned,Australia,2021,TV-14,2 Seasons,2021,9,21,Docuseries,Brooke Satchwell
1631,Movie,Rust Creek,Jen McGowan,United States,2018,R,108 min,2020,11,30,Thrillers,Hermione Corfield
3574,Movie,Simon Amstell: Set Free,Julia Knowles,United Kingdom,2019,TV-MA,52 min,2019,8,20,Stand-Up Comedy,Simon Amstell
3977,Movie,Superlopez,Javier Ruiz Caldera,Spain,2018,TV-MA,108 min,2019,3,24,Action & Adventure,Dani Rovira

In [62]:
df.shape

(7979, 12)

In [65]:
df.to_csv("cleaned_data2.csv")